.heading, #instruction {
  font-size: 18px;
  text-align: center;
  padding: 30px;
  color: red;
  font-weight: bold;
}
.instruction {
  padding: 30px;
  font-size: 16px;
  margin-left: 20px;
}
.visible {
  display: none;
}
#start-page {
  width: 500px;
  height: 500px;
  border: 2px solid black;
  background-color: cyan;
}
#start-page input[type='button'] {
  margin-left: 200px;
  position: relative;
  top: 100px;
  background-color: red;
  color: black;
  font-weight: bold;
}
#quizpage {
  width: 500px;
  height: 500px;
  border: 1px solid black;
  background-color: #ccddee;
}
#resultpage {
  width: 525px;
  height: auto;
  border: 2px solid black;
  background-color: #ccddee;
}
#question {
  width: 200px;
  height: 50px;
  position: relative;
  top: 50px;
  left: 10px;
}
#nextbutton {
  position: relative;
  top: 300px;
  text-align: right;
  margin-right: 20px;
}
#next {
  background-color: red;
  color: black;
  font-weight: bold; 
}
.wrongAnswerConatiner {
  color: #005b96;
  font-weight: bold;
  padding: 5px;
}
#timerdiv {
  position: relative;
  top: 250px;
  text-align: left;
  margin-left: 20px;
  color: #005b96;
  width: 250px;
}
#scorediv {
  width: 100px;
  height: 15px;
  position: relative;
  top: 150px;
  margin-left: 20px;
  color: #c72a00;
}
.answerkey {
  display: block;
}
#result {
  margin-left: 190px;
}
#timediv {
  margin-left: 40px;
  color: red;
  font-size: 20px;
}
#instruction-container {
  text-align: center;
  font-weight: bold;
  color: green;
  margin-top: 20px;
}